<!DOCTYPE html>
<html lang="es">
<%- include('../components/head.ejs') %>
<body>
<%- include('../components/header.ejs') %>
<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li>Admin</li>
      <li>Proveedores</li>
    </ul>
  </div>
</section>
<section class="is-hero-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <h1 class="title">
      Actualizar datos de Proveedores
    </h1>
    <a href="/suppliers" class="button light">Ver lista de Proveedores</a>
  </div>
</section>
<section class="section main-section">
  <div class="card mb-6">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-ballot"></i></span>
        Formulario de Registro
      </p>
    </header>
    <% if (suppliers) { %>
      <div class="card-content">
        <form method="post" action="/updateSuppliers">
          <div class="field">
            <label class="label">Datos Personales</label>
            <div class="field-body">
              <div class="field">
                <input id="idSuppliers" name="idSuppliers" value="<%= suppliers.idSuppliers %>" hidden>
                <div class="control icons-left">
                  <input class="input" type="text" autocomplete="off" name="nameSuppliers" id="nameSuppliers" placeholder="Nombre Completo" value="<%= suppliers.nameSuppliers %>">
                  <span class="icon left"><i class="mdi mdi-account"></i></span>
                </div>
              </div>
              <div class="field">
                <div class="control icons-left">
                  <input class="input" type="text" autocomplete="off" name="companySuppliers" id="companySuppliers" placeholder="Razón Social" value="<%= suppliers.companySuppliers %>">
                  <span class="icon left"><i class="mdi mdi-domain"></i></span>
                </div>
              </div>
              <div class="field">
                <div class="control icons-left">
                  <input class="input" type="text" autocomplete="off" name="documentSuppliers" id="documentSuppliers" placeholder="C.I o RUC" value="<%= suppliers.documentSuppliers %>">
                  <span class="icon left"><i class="mdi mdi-mail"></i></span>
                </div>
              </div>
              <div class="field">
                <div class="control icons-left icons-right">
                  <input class="input" type="email" autocomplete="off" name="mailSuppliers" id="mailSuppliers" placeholder="Correo Electrónico" value="<%= suppliers.mailSuppliers %>">
                  <span class="icon left"><i class="mdi mdi-at"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="field-body">
              <div class="field">
                  <div class="control icons-left">
                    <input class="input" type="tel" autocomplete="off" name="phoneSuppliers" id="phoneSuppliers" placeholder="Celular" value="<%= suppliers.phoneSuppliers %>">
                    <span class="icon left"><i class="mdi mdi-cellphone"></i></span>
                  </div>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="field-body">
              <div class="field">
                  <div class="control icons-left">
                    <input class="input" type="text" autocomplete="off" name="directionSuppliers" id="directionSuppliers" placeholder="Dirección" value="<%= suppliers.directionSuppliers %>">
                    <span class="icon left"><i class="mdi mdi-map-marker-radius"></i></span>
                  </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="field grouped">
            <div class="control">
              <input type="submit" class="button green" value="Guardar"></input>
            </div>
            <div class="control">
              <button type="reset" class="button red">
                Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
    <% } %>
  </div>
</section>
<%- include('../components/footer.ejs') %>
<script type="text/javascript" src="../assets/js/main.min.js?v=1628755089081"></script>
<script type="text/javascript" src="../assets/js/Vanilla-DataTables.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript" src="../assets/js/chart.sample.min.js"></script>
</body>
</html>