<!DOCTYPE html>
<html lang="es">
<%- include('../components/head.ejs') %>
<body>
<%- include('../components/header.ejs') %>
<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li>Admin</li>
      <li>Clientes</li>
    </ul>
  </div>
</section>
<div class="card has-table">
  <header class="card-header">
    <p class="card-header-title">
      <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
      Clientes
    </p>
    <a href="/clients" class="card-header-icon">
      <span class="icon"><i class="mdi mdi-reload"></i></span>
    </a>
  </header>
  <div class="card-content">
    <table id="table_id">
      <thead>
        <tr>
          <th>Nombre Completo</th>
          <th>Razón Social</th>
          <th>C.I o RUC</th>
          <th>Correo Electrónico</th>
          <th>Celular</th>
          <th>Dirección</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% results.forEach((clients)=>{ %>
          <tr>
              <td style="visibility:collapse; display:none;" data-label="ID" type="hidden"><%= clients.idClients %></td>
              <td data-label="Nombre Completo"><%= clients.nameClients %></td>  
              <td data-label="Razón Social"><%= clients.companyClients %></td>
              <td data-label="C.I o RUC"><%= clients.documentClients %></td>
              <td data-label="Correo Electrónico"><%= clients.mailClients %></td>
              <td data-label="Celular"><%= clients.phoneClients %></td>
              <td data-label="Dirección"><%= clients.directionClients %></td> 
              <td class="actions-cell">
                <div class="buttons right nowrap">
                  <a class="btn-small" href="javascript:void(0);" onclick="updateClients('<%= clients.idClients %>')">
                    <span class="icon"><i class="mdi mdi-file-edit"></i></span>
                  </a>
                  <a class="btn-small" href="javascript:void(0);" onclick="deleteClients('<%= clients.idClients %>')">
                    <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                  </a>
                </div>                  
              </td>
          </tr>                                   
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<script>
  function deleteClients(idClients) {
    Swal.fire({
      title: '¿Estás seguro?',
      text: '¡Esta acción no se puede revertir!',
      icon: 'warning',
      showDenyButton: true,
      showCancelButton: false,
      confirmButtonColor: '#3085d6',
      confirmButtonText: '¡Eliminar!',
      denyButtonText: 'Cancelar',
    }).then((result) => {
      if (result.isConfirmed) {
        fetch(`/delete/${idClients}`, {
          method: 'POST'
        })
        .then(response => {
          if (response.ok) {
            Swal.fire({
            title: '¡Eliminado!',
            text: 'Cliente eliminado con éxito',
            icon: 'success',
            showConfirmButton: false,
            allowOutsideClick: false,
            allowEscapeKey: false,
            timer: 1200
            }).then(()=>{
              window.location.reload()
            })
          } else {
            throw new Error('Error al eliminar el cliente');
          }
        })
        .catch(error => {
          console.log(error);
          Swal.fire('Error', 'Ocurrió un error al eliminar el cliente', 'error');
        });
      } else if (result.isDenied) {
        Swal.fire('Ningún cambio realizado', '', 'info');
      }
    });
  }
</script>
<script>
  function updateClients(idClients) {
  Swal.fire({
    title: '¿Quieres editar los datos?',
    icon: 'question',
    showDenyButton: true,
    showCancelButton: false,
    confirmButtonColor: '#3085d6',
    confirmButtonText: '¡Sí!',
    denyButtonText: 'Cancelar',
  }).then((result) => {
    if (result.isConfirmed) {
      window.location = `/update/${idClients}`;
    } else if (result.isDenied) {
      Swal.fire('Ningún cambio realizado', '', 'info');
    }
  });
}
</script>
<% if(req.query.alert === 'successfulUpdated') { %>
  <script>
    Swal.fire({
    title: '¡Actualizado!',
    text: 'Cliente actualizado con éxito',
    icon: 'success'
    })
  </script>
<% } %>
<script>
  var myTable = document.querySelector('#table_id');
  var dataTable = new DataTable(myTable,{
      perPage:10,
      perPageSelect:[10,15,20,25,50]
  });
</script>
<%- include('../components/footer.ejs') %>
<script type="text/javascript" src="../assets/js/main.min.js?v=1628755089081"></script>
<script type="text/javascript" src="../assets/js/Vanilla-DataTables.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script type="text/javascript" src="../assets/js/chart.sample.min.js"></script>
</body>
</html>